@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #439fc0;
  --secondary-color: #55a6e1;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;
  --success-color: #27ae60; /* Green */
  --danger-color: #e74c3c; /* Red */
  --warning-color: #f1c40f; /* Yellow */

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Navigation styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.322);
    box-shadow: var(--shadow);
    color: white;
}

.logo {
    font-size: 1.75rem;
    font-weight: 700;
    color:#2563eb;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 4.5rem;
  }
  
  .nav-links a {
    color: #1e293b;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
  }
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a:hover {
    color: #2563eb;
    background-color: rgba(255, 255, 255, 0.997);
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;
}
.btn-secondary, .btn-primary{
    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-radius: 0.375rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}
.btn-secondary{
    background-color: #2563eb;
    color: white;
}
.btn-secondary:hover {
    background-color: #1d4ed8;
    color: white;
    scale: 1.2;
}
.btn-primary{
    /* background-color:  #55a6e1; */
    color: white;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: url(../image/office-worker-to-appear-by-yup-nguyen-for-red-cat-motion-on-dribbble_34.gif) rgba(0, 0, 0, 0.545);
    background-size: cover;
    background-position: center;
    background-blend-mode:color;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: var(--border-radius-m);
    padding: 30px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.636);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.container:hover{
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}
.container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before {
    content: "";
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    background-color: #4070f4;
}
.container form {
    position: relative;
    margin: 16px;
    min-height: 472px;
    background-color: tr;
}
.container form .job {
    margin-top: 30px;
}
.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label {
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 15px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.636);
}
.input-field input:hover {
    background-color: rgba(51, 166, 232, 0.492);
}
.sub input {
    position: absolute;
    top: 90%;
    right: 0;
    padding: 10px 30px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 15px;
    border: 1px solid #f3efef;
    background-color: #2563eb;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sub input:hover {
    background-color: rgba(255, 255, 255, 0.997);
    color: #2563eb;
}
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem 2rem;
    border-radius: 12px;
    color: white;
    display: none;
    animation: slideIn 0.25s ease;
    font-weight: 500;
    z-index: 1000;
  }