{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>Forget-pass</title>
  </head>
  <header>
    <nav class="navbar">
      <div class="logo">CareerNest</div>
      <ul class="nav-links">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}" class="sbutton">Sign Up</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <div class="container">
      <div class="forms">
        <div class="login-form">
          <span class="title">Forget Password</span>
          <p class="paragraph-reset">
            Recover your account.<br />
            We will send you a link to change your password.
          </p>
          <form action="#">
            <div class="input-field">
              <input type="text" placeholder="Enter your Email" required />
              <i class="uil uil-envelope-alt"></i>
            </div>
            <div class="buttons-form" id="res-but">
              <button type="submit" class="btn">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="toast" class="toast"></div>
    <footer>
      <p>&copy; 2025 CareerNest. All rights reserved.</p>
    </footer>
    <script src="{% static 'javascript/forget-pass.js' %}" defer></script>
  </body>
</html>
